.<!DOCTYPE html>
<html lang="en">
<div class = 'container-fluid'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<% if user_signed_in? %>
 		<div class = 'welcome'>
 			<h2>Bienvenido <%= current_user.name %> !</h2>
 		</div>
   		<div class = 'logout'>
   			<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
   		</div>
    <% else %>
    	<h2>Nobody logued in</h2>
    <% end %>
</head>
<body>
	<div  class = 'movements'>


	<div class = 'income'>

		<%= form_for Income.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
	

	
		<ul class = 'listaincom'>
			<% @incomes.each do |income| %>
				<li ><%= income.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc'>
			<% @incomes.each do |income| %>
				<li ><%= income.description %></li>
			<% end %>
		</ul>
	</div>

	
	<div class = 'expense'>	

		<%= form_for Expense.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
		

		
		<ul class = 'listaexpen'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc2'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.description %></li>
			<% end %>
		</ul>
	</div>	
		
	<div class = 'neto'>
		<h3>Capacidad de ahorro <%=  @sum  %></h3>	
	</div>						
	
	<div class = 'cuanto'>
		<h3>¿Cuanto quieres ahorrar?</h3>
	</div>


	<%= form_for current_user do |f| %>

	<div class="ahorro">

		<%= f.number_field :ahorro, min: 0, step: 0.01,  :placeholder => "€" %>
		
	</div>

	<div class="botonahorro">
		<%= f.submit  "¡Ahorra!", class: "btn btn-success"  %>
	</div>
	<% end %>

	

	
	
	
	
	</div>
		
</body>

</div> 
</html>