<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class = 'container-fluid' id = 'movements'>

	
	

	<div class = 'income'>
		<%= form_for Income.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
	

	
		<ul class = 'listaincom'>
			<% @incomes.each do |income| %>
				<li ><%= income.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listaincom'>
			<% @incomes.each do |income| %>
				<li ><%= income.description %></li>
			<% end %>
		</ul>
	</div>

	
	<div class = 'expense'>	
			<%= form_for Expense.new do |f| %>
				<%= render partial: 'movement_form', locals: {form: f} %>
			<% end %>
		

		
			<ul class = 'listaexpen'>
				<% @expenses.each do |expense| %>
					<li ><%= expense.amount %></li>
				<% end %>
			</ul>

			<ul class = 'listaexpen'>
			<% @incomes.each do |income| %>
				<li ><%= income.description %></li>
			<% end %>
		</ul>
	</div>	
	
	
	</div>
</body>
</html>