<div class = 'container-fluid'>
	<div id="block3">
		<% if user_signed_in? %>
			<div class = 'welcome'>
				<h2>Welcome <%= current_user.name %> !</h2>
			</div>
			
			<p class="date">Nov <span>28</span></p>
			<p class="tags"><span>Your online piggy bank:</span>
			<a href="#" >Incomes</a>,
			<a href="#">Movements</a>,
			<a href="#" >Expenses</a></p>
			<div class = 'logout'>
				<%= link_to 'Logout', destroy_user_session_path, :style => 'color: #F50077 ', method: 'DELETE' %>
				
			</div>
		<% else %>
			<h2>Nobody logued in</h2>
		<% end %>
	</div>
	<div  class = 'movements'>


	<div class = 'income'>

		<%= form_for Income.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>



		<ul class = 'listaincom'>
			<% @incomes.each do |income| %>
				<li ><%= income.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc'>
			<% @incomes.each do |income| %>
				<li ><%= income.description %></li>
			<% end %>
		</ul>
	</div>

	
	<div class = 'expense'>	

		<%= form_for Expense.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
		

		
		<ul class = 'listaexpen'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc2'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.description %></li>
			<% end %>
		</ul>
	</div>	

	<div class = 'neto'>
		<h3 id="data-sum" data-sum="<%=  @balance.value  %>">
			Capacidad de ahorro <%=  @balance.value  %>
		</h3>	
	</div>						
	
	<div class = 'cuanto'>
		<h3>¿Cuanto quieres ahorrar?</h3>
	</div>


	<%= form_for current_user do |f| %>

		<div class="ahorro">

			<%= f.number_field :ahorro, min: 0, step: 0.01,  :placeholder => "Cantidad a ahorrar" %>
		
		</div>

		<div class="botonahorro">
			<%= f.submit  "¡Ahorra!", class: "btn btn-success"  %>
		</div>
	<% end %>
</div>
</div>