<!DOCTYPE html>
<html lang="en">
<head class = 'container-fluid'>
	<meta charset="UTF-8">
	<title>Document</title>
	<% if user_signed_in? %>
 		<div class = 'welcome'>
 			<h2>Bienvenido !</h2>
 		</div>
   		<div class = 'logout'>
   			<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
   		</div>
    <% else %>
    	<h2>Nobody logued in</h2>
    <% end %>
</head>
<body>
	<div  class = 'movements'>


	<div class = 'income'>

		<%= form_for Income.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
	

	
		<ul class = 'listaincom'>
			<% @incomes.each do |income| %>
				<li ><%= income.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc'>
			<% @incomes.each do |income| %>
				<li ><%= income.description %></li>
			<% end %>
		</ul>
	</div>

	
	<div class = 'expense'>	

		<%= form_for Expense.new do |f| %>
			<%= render partial: 'movement_form', locals: {form: f} %>
		<% end %>
		

		
		<ul class = 'listaexpen'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.amount %></li>
			<% end %>
		</ul>

		<ul class = 'listadesc'>
			<% @expenses.each do |expense| %>
				<li ><%= expense.description %></li>
			<% end %>
		</ul>
	</div>	
	
	
	<div class = 'bruto'>
		
	</div>


	</div>
</body>
</html>