	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg", class: "rojas" %>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@income.amount) %>
		<small><%= @income.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>


	
		<%= image_tag "cerditoVerde.jpg", class: "verde"%>


