	
	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg"%>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@expense.amount) %>
		<small><%= @expense.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>
	<button type="button" class="btn btn-default consejo" data-container="body" data-toggle="popover" data-placement="right" data-content="Descongelar el frigorífico antes de que acumule 3 milímetros de hielo.
	Podrás ahorrar hasta un 30% de energía.">
  	Consejo
	</button>

	
		<%= image_tag "cerditoNaranja.jpg", class: "naranja"%>


